fastapi
uvicorn[standard]==0.22.0  

fastapi-cors

torch==2.0.1
torchvision==0.15.2
pillow==10.0.1

sqlalchemy==2.0.21

numpy==1.24.3
pandas==2.0.3

pytest==7.4.0

gunicorn==20.1.0

httpx

python-multipart

pytest