# Backend Framework
fastapi
uvicorn[standard]==0.22.0  # Serveur ASGI pour FastAPI

# Middleware
fastapi-cors

# Machine Learning et Vision par Ordinateur
torch==2.0.1
torchvision==0.15.2
pillow==10.0.1  # Pour la gestion des images avec PIL

# Base de données
sqlalchemy==2.0.21

# Transformations et Utilitaires
numpy==1.24.3
pandas==2.0.3

# Tests
pytest==7.4.0

# Déploiement
gunicorn==20.1.0

httpx